{% extends 'base.html.twig' %}

{% block body %}
	<div class="bs-component" style="padding-left:1.5rem; padding-right:1.5rem;">
		<div class="jumbotron">
			<h1 class="display-4 text-success">{{response.devices.DeviceName}}</h1>
			<p class="lead">
				{% if response.ResponseValue is defined and response.ResponseValue is not null %}
					<h3>Note de : "{{response.ResponseValue}}"</h3>
				{% else %}
					<h4>Vous n'avez pas encore donné d'avis.</h4>
					<hr class="my-4">
					<p class="lead">
						<a class="btn btn-primary btn-sm" href="{{ path('responses') }}" role="button">Retour</a>
						<a class="btn btn-info btn-sm" href="{{path("responses_edit", {"id" : response.id}) }}" role="button">Donner son avis</a>
					</p>
				{% endif %}
			</p>
			{% if response.ResponseDate is defined and response.ResponseDate is not null %}
				<p>
					Le :
					{{response.ResponseDate | date ("d/m/Y") }}
					à
					{{response.ResponseTime | date ("H:i") }}
				</p>
				<hr class="my-4">
				<p class="lead">
					<a class="btn btn-primary btn-sm" href="{{ path('responses') }}" role="button">Retour</a>
					<a class="btn btn-info btn-sm" href="{{path("responses_edit", {"id" : response.id}) }}" role="button">J'ai changé d'avis</a>
				</p>
			{% else %}
				<p></p>
			{% endif %}

		</div>
	</div>
{% endblock %}
