{% extends 'base.html.twig' %}

{% block body %}

	{{form_start(formResponse)}}
	<fieldset style="padding-left:2rem">
		<legend>Legend</legend>

		<div class="form-group row" style="padding-bottom:2rem;">
			<div class="form-group">
				<label class="form-label mt-4">Nom : &emsp; &emsp; &thinsp;</label>
				{{ form_widget(formResponse.DeviceName)}}
			</div>
			<div class="form-group">
				<label class="form-label mt-4">Mac Adress :&thinsp;</label>
				{{ form_widget(formResponse.DeviceMac)}}
			</div>
		</div>

		<a href="{{ path('devices') }}" class="btn btn-primary btn-sm">Retour</a>
		<button class="btn btn-light btn-sm" type="submit">Valider</button>
	</fieldset>
	{{form_end(formResponse)}}

{% endblock %}
