{% extends 'base.html.twig' %}

{% block title %}
	Liste des Devices
{% endblock %}

{% block body %}
	<section>
		<h1>
			<a href="{{ path('home') }}" class="btn btn-primary">Retour</a>
			<a href="{{path("devices_create") }}" class="btn btn-info">Ajouter</a>
			Actuellement :</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Device</th>
					<th scope="col">Mac Adress</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			{% for device in devices %}
				<tbody>
					<tr>
						<th scope="row">{{device.DeviceName}}</th>
						<td>{{device.DeviceMac}}</td>
						<td>
							<ul class="pagination">
								<li class="page-item">
									<a class="btn btn-primary btn-sm" href="{{path("devices_edit", {"id" : device.id}) }}">Edit</a>
								</li>
								<li class="page-item">
									<form method="post" action="{{ path('devices_delete', {"id": device.id}) }}" onsubmit="return confirm('Supprimer ?');">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device.id) }}">
										<button class="btn btn-outline-warning btn-sm">Delete</button>
									</form>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			{% else %}
				<div class="alert alert-dismissible alert-warning">
					<h4 class="alert-heading">Warning!</h4>
					<p class="mb-0">Rien en Db</p>
				</div>
			{% endfor %}
		</table>
	</section>
{% endblock %}
